@font-face {
    font-family: Lato;
    src: url(https://fonts.googleapis.com/css?family=Lato&display=swap)
}

body,
html {
    height: 100%;
}

.smu-portal-style {
    font-size: 4rem;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #028b95;
}

.w-90 {
    width: 90%;
}

.second-smu {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #646464
}

.medtech-image {
  background-image:
  linear-gradient(
    rgba(2,139,149,0.8)
  ),
    url("../../assets/medt_que.png");
  background-repeat: no-repeat;
}
.custom-width {
  width: 1290px;
}
.enter-portal {
  white-space: nowrap;
  text-align: left;
  font-family: Lato;
  font-style: normal;
  font-weight: lighter;
  font-size: 70px;
  color: #fff;
}
#mainCard {
    overflow: visible;
    position: absolute;
    left: 315px;
    top: 118px;
    width: 1290px;
    height: 743px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 #00000030
}

#loginCard {
    filter: drop-shadow(0 3px 6px #00000029);
    position: absolute;
    overflow: visible;
    width: 447px;
    height: 477px;
    left: 1124px;
    top: 300px;
    border-radius: 20px 0 20px 0
}

#studentMsg {
    position: absolute;
    left: 1142px;
    top: 403px;
    overflow: visible;
    width: 287px;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 19px;
    color: #646464
}

.bluetech-background {
    background-color: #028b95;
    width: 320px;
    height: 35px;
    color: #fff;
    border-color: #ffffff00
}

.orangetech-background {
    background-color: #e27222;
    width: 320px;
    height: 35px;
    color: #fff;
    border-color: #ffffff00
}

.blutech-position {
    position: absolute;
    overflow: visible;
    top: 170px
}

.orangetech-position {
    position: absolute;
    overflow: visible;
    top: 298px
}

#rightArrow {
    position: absolute;
    right: 12px
}

#msgsHyperLink {
    color: #e27222
}

#profMsg {
    position: absolute;
    left: 1145px;
    top: 530px;
    overflow: visible;
    width: 300px;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 19px;
    color: #646464
}

#PORTAL_ {
    position: absolute;
    left: 352px;
    top: 463px;
    overflow: visible;
    width: 271px;
    white-space: nowrap;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: lighter;
    font-size: 70px;
    color: #fff
}
