<div class="container h-100">
  <div class="row border border-dark h-100 bg-light justify-content-center align-items-center">
    <div class="row h-75 bg-white w-100 border border-info shadow-sm">
      <div class="col-7 border border-danger medtech-image">
        <div class="row h-100 justify-content-center align-items-center enter-portal">
          ENTERING SMU <br> PORTAL.
        </div>
      </div>
      <div class="col-5 border border-danger">
        <div class="row mx-auto border border-info">
          <div class="col text-center">
            <span class="smu-portal-style">SMU Portal</span>
          </div>
        </div>
        <div class="row h-75 w-100 mx-auto border border-info shadow">
          <div class="col">
            <div class="row">
              <div class="col second-smu">South Mediterranean University</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
