@font-face {
	font-family: Lato;
	src: url(https://fonts.googleapis.com/css?family=Lato&display=swap)
}
#NameField{
  position: absolute;
  overflow: visible;
  top: 185px;
	width: 80%
}

#Name{
  position: absolute;
	overflow: visible;
	top: 160px;
	width: 80%
}
#NameErr{
  position: absolute;
  overflow: visible;
  top: 195px;
  width: 80%;
  left: 10%;
}

#LastNameField{
  position: absolute;
  overflow: visible;
	top: 255px;
	width: 80%
}

#LastName{
  position: absolute;
	overflow: visible;
	top: 230px;
	width: 80%
}

#lastErr{
  position: absolute;
  overflow: visible;
  top: 265px;
  width: 80%;
  left: 10%;
}

#IdField{
  position: absolute;
	overflow: visible;
	top: 325px;
	width: 80%
}

#Student-Id{
  position: absolute;
	overflow: visible;
  top: 300px;
	width: 80%
}

#idERR{
  position: absolute;
  top: 335px;
  left: 10%;
}

#emailField{
  position: absolute;
	overflow: visible;
	top: 395px;
	width: 80%
}

#email{
  position: absolute;
	overflow: visible;
	top: 370px;
  width: 80%;
}

#emailErr{
  position: absolute;
  top: 405px;
  left: 10%;
}

#PasswordField{
  position: absolute;
	overflow: visible;
  top: 465px;
  width: 80%
}

#password{
  position: absolute;
	overflow: visible;
	top: 440px;
	width: 80%
}

#pwERR{
  position: absolute;
  top: 475px;
  left: 10%;
}

#AlreadyAccount{
  position: absolute;
	overflow: visible;
  top: 575px;
  right: 20px;
	width: 80%
}
.container {
	position: absolute
}

#mainCard {
	overflow: visible;
	position: absolute;
	left: 315px;
	top: 118px;
	width: 1290px;
	height: 743px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 #00000030
}

#RegisterCard {
	filter: drop-shadow(0 3px 6px #00000029);
	position: absolute;
	overflow: visible;
	width: 447px;
	height: 600px;
	left: 1124px;
	top: 250px;
	border-radius: 20px 0 20px 0
}


.RegisterBtnColor {
	background-color: #e27222;
	width: 80%;
	height: 35px;
	color: #fff;
	border-color: #ffffff00
}

.btnPosition {
  position: absolute;
  width: 50%;
  top: 535px;
}

#cancelBTN {
  position: absolute;
  top: 535px;
  width: 30%;
  right: 15%
}


