<img id="medtech" src="assets/medt_que.png" srcset="assets/medt_que.png 1x, assets/medt_que@2x.png 2x">
<svg class="blueRect">
  <rect fill="rgba(2,139,149,1)" id="blueRect" rx="0" ry="0" x="0" y="0" width="761" height="743">
  </rect>
</svg>
<div id="SMU_PORTAL">
  <span>SMU PORTAL</span>
</div>
<div id="SMUinCard">
  <span>South Mediterranean University</span>
</div>
<div id="introToSMU">
  <span>Please fill in the requested information to proceed.</span>
</div>
<div id="ENTERING_SMU">
  <span>ENTERING SMU</span>
</div>
<div id="PORTAL_">
  <span>PORTAL.</span>
</div>
<div id="portalDesc">
  <span>Welcome to the Student/Faculty Gateway.<br > Need assistance logging in? Please click </span><a id="linkDesc"
    href="#">here</a>
  <span> for a step-by-step guide. <br > For additional assistance
    please contact the SMU <a href="mailto:itteam@smu.tn" class="email">IT Team</a></span>
</div>
