<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Color Guide</div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><fa-icon [icon]="faSquare" size="2x" [styles]="{'color': 'white'}"></fa-icon> Available</li>
      <li class="list-group-item"><fa-icon [icon]="faSquare" size="2x" [styles]="{'color': '#fa4251'}"></fa-icon> Booked</li>
      <li class="list-group-item"><fa-icon [icon]="faSquare" size="2x" [styles]="{'color': 'gold'}"></fa-icon> Maintenance</li>
    </ul>
  </div>
</div>
