.container {
	position: absolute
}

.card-body {
  position: absolute;
  margin-top: 20%;
}

#mainCard {
	overflow: visible;
	position: absolute;
	left: 315px;
	top: 118px;
	width: 1290px;
	height: 743px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 #00000030
}

#ForgotCard {
	filter: drop-shadow(0 3px 6px #00000029);
	position: absolute;
	overflow: visible;
	width: 447px;
	height: 300px;
	left: 1124px;
	top: 300px;
	border-radius: 20px 0 20px 0
}

#resetPw {
  position: absolute;
  top: 0px;
	overflow: visible;
	width: 287px;
	white-space: nowrap;
	text-align: left;
	font-family: Lato;
	font-style: normal;
	font-weight: lighter;
	font-size: 19px;
	color: #646464
}

#formPw {
  margin-top: 8%;
}

.help-block {
  color: red;
}

#successMsg{
  color: green;
}

.btnSubmit {
  background-color: #e27222;
	color: #fff;
	border-color: #ffffff00
}

#email {
  width: 100%;
}
